<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Exchange">
	
	<resultMap type="com.kh.baraonda.exchange.model.vo.Product" id="productResultSet1">
		<id property="product_no" column="PRODUCT_NO"/>
		<result property="product_name" column="PRODUCT_NAME"/>
		<result property="product_price" column="PRODUCT_PRICE"/>
		<result property="product_type" column="PRODUCT_TYPE"/>
		<result property="point_step" column="POINT_STEP"/>
	</resultMap>
	
	<select id="selectProuct" resultMap="productResultSet1">
		SELECT * FROM PRODUCT WHERE PRODUCT_NO = #{change_type}
	</select>
	
	<insert id="insertOrder">
		INSERT INTO ORDERS VALUES (SEQ_ORDERS_NO.NEXTVAL, #{member_no},#{product_no}, SYSDATE, 1, 10, NULL, NULL, NULL)
	</insert>
	
	<insert id="insertAddress">
		INSERT INTO ADDRESS VALUES(SEQ_ADDRESS_NO.NEXTVAL, #{member_no}, #{accept_name}, #{accept_address2}, #{accept_tel}, #{accept_address1})
	</insert>
	
	<select id="orderCurrval" resultType="_int">
		select seq_orders_no.CURRVAL from dual
	</select>
	
	<select id="addressCurrval" resultType = "_int">
		SELECT SEQ_ADDRESS_NO.CURRVAL FROM DUAL
	</select>
	
	<insert id="insertDeliver">
		INSERT INTO DELIVER_RECORD VALUES(SEQ_DELIVER_NO.NEXTVAL, #{address_no}, #{orders_no}, SYSDATE,'DF12DA1F3')
	</insert>
	
	
</mapper> 





























  