<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Experience">

	<resultMap type="com.kh.baraonda.tips.model.vo.Tips" id="tipsResultSet3">
	
		<id property="board_no" column="BOARD_NO"/>
		<result property="board_type" column="BOARD_TYPE" />
		<result property="writing_type" column="WRITING_TYPE" />
		<result property="board_title" column="BOARD_TITLE" />
		<result property="board_content" column="BOARD_CONTENT"/>
		<result property="member_no" column="MEMBER_NO" />
		<result property="board_date" column="BOARD_DATE" />
		<result property="modify_date" column="MODIFY_DATE" />
		<result property="board_status" column="BOARD_STATUS" />
		<result property="board_count" column="BOARD_COUNT" />
		<result property="board_good" column="BOARD_GOOD" />
		
		<result property="nick_name" column="NICK_NAME" />
		<result property="marking_type" column="MARKING_TYPE" />
		
		<result property="files_no" column="FILES_NO" />
		<result property="f_reference_no" column="F_REFERENCE_NO" />
		<result property="files_title" column="FILES_TITLE" />
		<result property="files_change_title" column="FILES_CHANGE_TITLE" />
		<result property="files_type" column="FILES_TYPE" />
		<result property="files_root" column="FILES_ROOT" />
		<result property="files_secession" column="FILES_SECESSION" />
		<result property="profile_root" column="PROFILE_ROOT" />
		<result property="profile" column="FILES_ROOT" />
	</resultMap>
	
	<resultMap type="com.kh.baraonda.tips.model.vo.TipsComment" id="tipsCommentResultSet1">
		<id property="comments_no" column="COMMENTS_NO"/>
		<result property="comments_content" column="COMMENTS_CONTENT"/>
		<result property="board_no" column="BOARD_NO"/>
		<result property="member_no" column="MEMBER_NO"/>
		<result property="comments_date" column="COMMENTS_DATE" />
		<result property="comments_status" column="COMMENTS_STATUS"/>
		<result property="nick_name" column="NICK_NAME" />
		<result property="profile" column="FILES_ROOT" />
		<result property="files_change_title" column="FILES_CHANGE_TITLE" />
	</resultMap>

	<select id="experienceListCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD B
		join EXPERIENCE E ON (B.BOARD_NO = E.BOARD_NO)
		WHERE BOARD_TYPE = 5 AND BOARD_STATUS = 0 and writing_type = 16 AND E.EXPERIENCE_APPROVAL = 1
	</select>
	
	<select id="selectExperienceList" resultMap="tipsResultSet3">
       select b.board_title, b.board_date, b.board_count, 
                   me.COMPANY_NAME as nick_name, f.files_root, b.board_no,ME.MEMBER_NO, b.writing_type, f.files_change_title,min(ff.files_change_title) as profile_root
            from board b
            join member me on (b.member_no = me.member_no)
            join files f on (b.board_no = f.f_reference_no)
            join files ff on (b.member_no = ff.f_reference_no)
            join EXPERIENCE E ON (b.BOARD_NO = E.BOARD_NO)
            where board_status = 0 and f.FILES_SECESSION = 0 and f.FILES_TYPE = 4 and board_type=5 and b.writing_type = 16 and ff.files_type = 1 AND E.EXPERIENCE_APPROVAL = 1
            group by b.board_title, b.board_title, b.board_date, b.board_count, me.COMPANY_NAME, f.files_root, b.board_no,ME.MEMBER_NO, b.writing_type, f.files_change_title
            order by b.board_no desc
        
	</select>
	
	<update id="updateExperienceCount">
		UPDATE BOARD SET BOARD_COUNT = BOARD_COUNT + 1 WHERE BOARD_NO = #{experience_no}
	</update>
	
	<select id="selectExperienceOne" resultMap="tipsResultSet3">
		<!-- SELECT BOARD_NO,BOARD_TYPE,WRITING_TYPE,BOARD_TITLE,BOARD_CONTENT,b.member_no, BOARD_DATE,BOARD_STATUS,BOARD_COUNT, FILES_root,M.COMPANY_NAME as nick_name
		FROM BOARD B
		JOIN FILES F ON (F.F_REFERENCE_NO = B.MEMBER_NO)
		JOIN MEMBER M ON (B.MEMBER_NO = M.MEMBER_NO)
		WHERE BOARD_NO = #{experience_no} AND FILES_TYPE = 1 -->
		SELECT BOARD_NO,BOARD_TYPE,WRITING_TYPE,BOARD_TITLE,TO_CHAR(SUBSTR(BOARD_CONTENT,0,1000)) as BOARD_CONTENT,b.member_no, BOARD_DATE,BOARD_STATUS,BOARD_COUNT, max(FILES_root) as files_root,M.COMPANY_NAME as nick_name, min(files_change_title) as files_change_title
		FROM BOARD B
		JOIN FILES F ON (F.F_REFERENCE_NO = B.MEMBER_NO)
		JOIN MEMBER M ON (B.MEMBER_NO = M.MEMBER_NO)
		WHERE BOARD_NO = #{experience_no} AND FILES_TYPE = 1
        group by BOARD_NO,BOARD_TYPE,WRITING_TYPE,BOARD_TITLE,TO_CHAR(SUBSTR(BOARD_CONTENT,0,1000)),b.member_no, BOARD_DATE,BOARD_STATUS,BOARD_COUNT,M.COMPANY_NAME
	</select>
	
	<select id="selectHeartExperience" resultType="_int">
		SELECT COUNT(*) FROM MARKING WHERE BOARD_NO = #{experience_no} AND MARKING_TYPE = 2
	</select>
	
	<select id="selectCommentListCount" resultType="_int">
		SELECT COUNT(*) FROM COMMENTS WHERE BOARD_NO = #{experience_no} AND COMMENTS_STATUS = 0
	</select>
	
	<select id="selectCommentList" resultMap="tipsCommentResultSet1">
		<!-- SELECT C.COMMENTS_NO, C.COMMENTS_CONTENT, C.BOARD_NO, C.MEMBER_NO, C.COMMENTS_DATE, C.COMMENTS_STATUS, M.NICK_NAME,FILES_ROOT FROM COMMENTS C
		JOIN MEMBER M ON (C.MEMBER_NO = M.MEMBER_NO)
        JOIN FILES F ON (F.F_REFERENCE_NO = C.MEMBER_NO)
		WHERE BOARD_NO = #{experience_no} AND COMMENTS_STATUS = 0 and FILES_TYPE = 1 ORDER BY COMMENTS_NO DESC -->
		SELECT C.COMMENTS_NO, TO_CHAR(SUBSTR(C.COMMENTS_CONTENT,0,1000)) as COMMENTS_CONTENT, C.BOARD_NO, C.MEMBER_NO, C.COMMENTS_DATE, C.COMMENTS_STATUS, M.NICK_NAME,max(FILES_ROOT ) as files_root, min(files_change_title) as files_change_title
		FROM COMMENTS C
		JOIN MEMBER M ON (C.MEMBER_NO = M.MEMBER_NO)
        JOIN FILES F ON (F.F_REFERENCE_NO = C.MEMBER_NO)
		WHERE BOARD_NO = #{experience_no} AND COMMENTS_STATUS = 0 and FILES_TYPE = 1
        group by C.COMMENTS_NO, TO_CHAR(SUBSTR(C.COMMENTS_CONTENT,0,1000)), C.BOARD_NO, C.MEMBER_NO, C.COMMENTS_DATE, C.COMMENTS_STATUS, M.NICK_NAME
        ORDER BY COMMENTS_NO DESC
	</select>

	<select id="selectNextNo" resultType="_int">
		select MIN(b.board_no) from board B
		join EXPERIENCE E ON (B.BOARD_NO = E.BOARD_NO)
		where <![CDATA[b.board_no > #{experience_no}]]> and BOARD_TYPE = 5 AND BOARD_STATUS = 0 and writing_type = 16  AND E.EXPERIENCE_APPROVAL = 1
	</select>
	
	<select id="selectBeforeNo" resultType="_int">
		select MAX(b.board_no) from board B
		join EXPERIENCE E ON (B.BOARD_NO = E.BOARD_NO)
		where <![CDATA[b.board_no < #{experience_no}]]> and  BOARD_TYPE = 5 AND BOARD_STATUS = 0 and writing_type = 16  AND E.EXPERIENCE_APPROVAL = 1
	</select>
	
	<select id="searchExperienceCount" resultType = "_int">
		SELECT COUNT(*) FROM BOARD B
		JOIN MEMBER M ON (B.MEMBER_NO = M.MEMBER_NO)
		join EXPERIENCE E ON (B.BOARD_NO = E.BOARD_NO)
		WHERE B.BOARD_STATUS = 0 AND E.EXPERIENCE_APPROVAL = 1
		<choose>
			<when test="writer != null">
				AND M.NICK_NAME LIKE '%' || #{writer} || '%'
			</when>
			<when test="title != null">
				AND BOARD_TITLE LIKE '%' || #{title} || '%'
			</when>
			<otherwise>
				AND BOARD_CONTENT LIKE '%' || #{content} || '%'
			</otherwise>
		</choose>
	</select>
	
	<select id="searchExperienceList" resultMap="tipsResultSet3">
	
		select b.board_title, b.board_date, b.board_count, 
                   me.nick_name, f.files_root, b.board_no,ME.MEMBER_NO, b.writing_type, f.files_change_title,ff.files_root as profile_root
            from board b
            join member me on (b.member_no = me.member_no)
            join files f on (b.board_no = f.f_reference_no)
            join files ff on (b.member_no = ff.f_reference_no)
            join EXPERIENCE E ON (b.BOARD_NO = E.BOARD_NO)
            where board_status = 0 and f.FILES_SECESSION = 0 and f.FILES_TYPE = 4 and board_type=5 and b.writing_type = 16 and ff.files_type = 1  AND E.EXPERIENCE_APPROVAL = 1
            <choose>
			<when test="writer != null">
				AND M.NICK_NAME LIKE '%' || #{writer} || '%'
			</when>
			<when test="title != null">
				AND BOARD_TITLE LIKE '%' || #{title} || '%'
			</when>
			<otherwise>
				AND BOARD_CONTENT LIKE '%' || #{content} || '%'
			</otherwise>
			</choose>
            group by b.board_title, b.board_title, b.board_date, b.board_count, me.nick_name, f.files_root, b.board_no,ME.MEMBER_NO, b.writing_type, f.files_change_title,ff.files_root
            order by b.board_no desc
          
	</select>
	
	<update id="deleteExperience">
		UPDATE BOARD SET BOARD_STATUS = 1 WHERE BOARD_NO = #{notice_no}
	</update>
	
	<select id="checkBookmark" resultType = "_int">
		SELECT COUNT(*) FROM MARKING WHERE BOARD_NO = #{board_no} AND MEMBER_NO = #{member_no} AND MARKING_TYPE = 1
	</select>
	
	<insert id="insertBookmark">
		INSERT INTO MARKING VALUES (SEQ_MARKING_NO.NEXTVAL, 1, SYSDATE, #{board_no}, #{member_no})
	</insert>
	
	<delete id="deleteBookmark">
		DELETE FROM MARKING WHERE BOARD_NO = #{board_no} AND MEMBER_NO = #{member_no} AND MARKING_TYPE = 1
	</delete>
	
	<select id="checkHeart" resultType = "_int">
		SELECT COUNT(*) FROM MARKING WHERE BOARD_NO = #{board_no} AND MEMBER_NO = #{member_no} AND MARKING_TYPE = 2
	</select>
	
	<insert id="insertHeart">
		INSERT INTO MARKING VALUES (SEQ_MARKING_NO.NEXTVAL, 2, SYSDATE, #{board_no}, #{member_no})
	</insert>
	
	<delete id="deleteHeart">
		DELETE FROM MARKING WHERE BOARD_NO = #{board_no} AND MEMBER_NO = #{member_no} AND MARKING_TYPE = 2
	</delete>
	
	<insert id="insertComment">
		INSERT INTO COMMENTS VALUES(SEQ_COMMENTS_NO.NEXTVAL, #{comments_content}, #{board_no}, #{member_no}, SYSDATE, 0)
	</insert>
	
	<update id="updatePoint">
		UPDATE POINT SET POINT_CHANGE_DATE = SYSDATE, ACCRUE_POINT = #{after_point} WHERE POINT_NO = #{member_no}
	</update>
	
	<update id="deleteComment">
		UPDATE COMMENTS SET COMMENTS_STATUS = 1 WHERE COMMENTS_NO = #{comment_no}
	</update>
	
	<insert id="insertExperience" parameterType="com.kh.baraonda.tips.model.vo.Tips">
		INSERT INTO BOARD VALUES(SEQ_BOARD_NO.NEXTVAL, 5, 16, #{board_title}, #{board_content}, #{member_no}, SYSDATE,SYSDATE,0,DEFAULT)
		<selectKey keyProperty="f_reference_no" resultType="_int" order="AFTER">select seq_board_no.currval from dual</selectKey>
	</insert>
	
	<insert id="insertPhoto">
		INSERT INTO FILES
		VALUES(
			SEQ_FILES_NO.NEXTVAL, #{f_reference_no},
			 #{files_title}, #{files_change_title}, 
			 4, '/resources/images/uploadFiles/', 0
		)
	
	</insert>
	
	<insert id="insertExperienceList">
		INSERT INTO EXPERIENCE VALUES (SEQ_EXPERIENCE_NO.NEXTVAL, #{company_no}, #{board_no}, SYSDATE, 0, NULL, NULL)
	</insert>
	
</mapper> 





























  