<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!--Dao에서 Member.query로 작성을 했을 때 앞의 Member가 여기서 mapper의 namespace이고 query부분은 query의 이름부분이다.-->
<mapper namespace="Member">
	<resultMap type="com.kh.baraonda.member.model.vo.Member" id="memberResultSet">
		<!--property부분은 Member클래스에 있는 필드와 같아야 하고, column은 DB의 컬럼명과 같다.-->
		<!--setter를 통해 자동으로 값을 넣기 때문에 해당 class에 setter가 생성되어 있어야 한다.-->
		<!--mid가 result가 아닌 id인 이유는 식별자로 사용되기 때문이다.-->
		<id property="member_no" column="MEMBER_NO"/>
		<result property="id" column="ID"/>
		<result property="password" column="PASSWORD"/>
		<result property="name" column="NAME"/>
		<result property="nick_name" column="NICK_NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="token" column="TOKEN"/>
		<result property="enroll_date" column="ENROLL_DATE"/>
		<result property="modify_date" column="MODIFY_DATE"/>
		<result property="member_status" column="MEMBER_STATUS"/>
		<result property="admin_right" column="ADMIN_RIGHT"/>
		<result property="company_right" column="COMPANY_RIGHT"/>
		<result property="company_name" column="COMPANY_NAME"/>
		<result property="company_no" column="COMPANY_NO"/>
		<result property="bank" column="BANK"/>
		<result property="account" column="ACCOUNT"/>
		<result property="ceo_name" column="CEO_NAME"/>
		<result property="ceo_type" column="CEO_TYPE"/>
		<result property="self_introduction" column="SELF_INTRODUCTION"/>
		<result property="email" column="EMAIL"/>
		
	</resultMap>
	
	<!-- 로그인 정보 조회용 쿼리문 -->
	<!--사용시 유의 사항 2가지-->
	<!--1. 마이 바티스에서 앨리어스 설정-->
	<!--2. parameterType -->
	<select id="loginCheck" resultMap="memberResultSet" parameterType="Member">
		SELECT *
		FROM MEMBER
		WHERE USER_ID = #{id}
		AND USER_PWD = #{password}
		AND MEMBER_STATUS = 'Y'
	</select>
	
	<!-- 회원가입용 메소드 -->
	<insert id="insertMember"  parameterType="Member">
		INSERT INTO MEMBER
		VALUES(
				 SEQ_MEMBER_NO.NEXTVAL, #{id}, #{password}, #{name}, #{nick_name},
				 null, null, SYSDATE, SYSDATE, default, default, default, 
				 null, null, null, null, null, null, null, null
		)
	</insert>
	<insert id="insertCompany"  parameterType="Member">
		INSERT INTO MEMBER
		VALUES(
				 SEQ_MEMBER_NO.NEXTVAL, #{id}, #{password}, #{name}, #{nick_name},
				 null, null, SYSDATE, SYSDATE, default, default, 1, 
				 #{company_name}, #{company_no}, null, null, #{ceo_name}, #{ceo_type},
				 null, null
		)
	</insert>
	
	<!--회원1명 조회-->
	<select id="selectOne" resultMap="memberResultSet" parameterType="Member">
		SELECT * FROM MEMBER
		WHERE ID = #{id} AND NICK_NAME = #{nick_name}
		AND MEMBER_STATUS = 0
	</select>
	
	<!--포인트 생성-->
	<insert id="insertPoint" parameterType="Member">
		INSERT INTO POINT
		VALUES(
			#{member_no}, SYSDATE, 0
		)
	</insert>
	
	
	
	
	<!--암호화된 비밀번호 조회용 쿼리-->
	<!--resultType은 문자열을 -->
	<select id="selectPwd" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT PASSWORD
		FROM MEMBER
		WHERE ID = #{id}
		AND MEMBER_STATUS = 0
	</select>
	
	<!--암호화 후 로그인용 쿼리-->
	<select id="selectLoginUser" resultMap="memberResultSet" parameterType="Member">
		SELECT * 
		FROM MEMBER
		WHERE ID = #{id}
		AND MEMBER_STATUS = 0
	</select>
	
	<!--아이디 중복 체크-->
	<select id="selectIdCheck" resultMap="memberResultSet">
		SELECT * 
		FROM MEMBER
		WHERE ID = #{id}
		AND MEMBER_STATUS = 0
	</select>
	
	<!--사업자번호 중복 체크-->
	<select id="selectBizIDCheck" resultMap="memberResultSet">
		SELECT * 
		FROM MEMBER
		WHERE COMPANY_NO = #{company_no}
		AND MEMBER_STATUS = 0
	</select>
	
	<!--닉네임 중복 체크-->
	<select id="selectNickCheck" resultMap="memberResultSet">
		SELECT * 
		FROM MEMBER
		WHERE NICK_NAME = #{nick_name}
		AND MEMBER_STATUS = 0
	</select>
	
	<select id="selectIds" resultMap="memberResultSet">
		SELECT ID 
		FROM MEMBER
		WHERE NAME = #{name} AND EMAIL = #{email}
	</select>
	
	<!--기본 프로필 사진 생성-->
	<insert id="insertProfile" parameterType="Member">
		INSERT INTO FILES
		VALUES(
			SEQ_FILES_NO.NEXTVAL, #{member_no},
			 'woman.png', 'woman.png', 
			 1, '/resources/images/boardImg/', 0
		)
	</insert>
</mapper>
























