<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Notice2">

	<resultMap type="com.kh.baraonda.notice.model.vo.Notice" id="NoticeResultSet2">
		<id property="board_no" column="BOARD_NO"/>
		<result property="board_type" column="BOARD_TYPE" />
		<result property="writing_type" column="WRITING_TYPE" />
		<result property="board_title" column="BOARD_TITLE" />
		<result property="board_content" column="BOARD_CONTENT"/>
		<result property="member_no" column="MEMBER_NO" />
		<result property="board_date" column="BOARD_DATE" />
		<result property="modify_date" column="MODIFY_DATE" />
		<result property="board_status" column="BOARD_STATUS" />
		<result property="board_count" column="BOARD_COUNT" />
		<result property="profile" column = "FILES_ROOT"/>
	</resultMap>
	
	<resultMap type="com.kh.baraonda.notice.model.vo.NoticeComment" id="CommentResultSet2">
		<id property="comments_no" column="COMMENTS_NO"/>
		<result property="comments_content" column="COMMENTS_CONTENT"/>
		<result property="board_no" column="BOARD_NO"/>
		<result property="member_no" column="MEMBER_NO"/>
		<result property="comments_date" column="COMMENTS_DATE" />
		<result property="comments_status" column="COMMENTS_STATUS"/>
		<result property="nick_name" column="NICK_NAME" />
		<result property="profile" column = "FILES_ROOT"/>
	</resultMap>
 
	
	<select id="selectNoticeListCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD WHERE BOARD_TYPE = 6 AND BOARD_STATUS = 0
	</select>
	
	<select id="selectNoticeList" resultMap="NoticeResultSet2">
		SELECT * FROM BOARD WHERE BOARD_TYPE = 6 AND BOARD_STATUS = 0 ORDER BY BOARD_NO DESC
	</select>
	
	<select id="selectNoticeOne" resultMap="NoticeResultSet2">
		SELECT BOARD_NO,BOARD_TYPE,WRITING_TYPE,BOARD_TITLE,BOARD_CONTENT,MEMBER_NO,BOARD_DATE,MODIFY_DATE,BOARD_STATUS,BOARD_COUNT, FILES_ROOT
		FROM BOARD B
		JOIN FILES F ON (F.F_REFERENCE_NO = B.MEMBER_NO)
		WHERE BOARD_NO = #{notice_no} AND FILES_TYPE = 1
	</select>
	
	<select id="selectHeart" resultType = "_int">
		SELECT COUNT(*) FROM MARKING WHERE BOARD_NO = #{notice_no} AND MARKING_TYPE = 2
	</select>
	
	<select id="selectCommentListCount" resultType="_int">
		SELECT COUNT(*) FROM COMMENTS WHERE BOARD_NO = #{notice_no} AND COMMENTS_STATUS = 0
	</select>
	
	<select id="selectComment" resultMap="CommentResultSet2">
		<!-- SELECT C.COMMENTS_NO, C.COMMENTS_CONTENT, C.BOARD_NO, C.MEMBER_NO, C.COMMENTS_DATE, C.COMMENTS_STATUS, M.NICK_NAME,FILES_ROOT FROM COMMENTS C
		JOIN MEMBER M ON (C.MEMBER_NO = M.MEMBER_NO)
        JOIN FILES F ON (F.F_REFERENCE_NO = C.MEMBER_NO)
		WHERE BOARD_NO = #{notice_no} AND COMMENTS_STATUS = 0 and FILES_TYPE = 1 ORDER BY COMMENTS_NO DESC -->
		SELECT C.COMMENTS_NO, TO_CHAR(SUBSTR(C.COMMENTS_CONTENT,0,1000)) as COMMENTS_CONTENT, C.BOARD_NO, C.MEMBER_NO, C.COMMENTS_DATE, C.COMMENTS_STATUS, M.NICK_NAME,max(FILES_ROOT ) as files_root
		FROM COMMENTS C
		JOIN MEMBER M ON (C.MEMBER_NO = M.MEMBER_NO)
        JOIN FILES F ON (F.F_REFERENCE_NO = C.MEMBER_NO)
		WHERE BOARD_NO = #{notice_no} AND COMMENTS_STATUS = 0 and FILES_TYPE = 1
        group by C.COMMENTS_NO, TO_CHAR(SUBSTR(C.COMMENTS_CONTENT,0,1000)), C.BOARD_NO, C.MEMBER_NO, C.COMMENTS_DATE, C.COMMENTS_STATUS, M.NICK_NAME
        ORDER BY COMMENTS_NO DESC
	</select>
	
	<update id="updateNoticeCount">
		UPDATE BOARD SET BOARD_COUNT = BOARD_COUNT + 1 WHERE BOARD_NO = #{notice_no}
	</update>
	
	<select id="searchNoticeCount" resultType = "_int">
		SELECT COUNT(*) FROM BOARD B
		JOIN MEMBER M ON (B.MEMBER_NO = M.MEMBER_NO)
		WHERE B.BOARD_STATUS = 0
		<choose>
			<when test="writer != null">
				AND M.NICK_NAME LIKE '%' || #{writer} || '%'
			</when>
			<when test="title != null">
				AND BOARD_TITLE LIKE '%' || #{title} || '%'
			</when>
			<otherwise>
				AND BOARD_CONTENT LIKE '%' || #{content} || '%'
			</otherwise>
		</choose>
	</select>
	
	<select id="searchNoticeList" resultMap="NoticeResultSet2">
		SELECT * FROM BOARD B
		JOIN MEMBER M ON (B.MEMBER_NO = M.MEMBER_NO)
		WHERE B.BOARD_STATUS = 0
		<choose>
			<when test="writer != null">
				AND M.NICK_NAME LIKE '%' || #{writer} || '%'
			</when>
			<when test="title != null">
				AND BOARD_TITLE LIKE '%' || #{title} || '%'
			</when>
			<otherwise>
				AND BOARD_CONTENT LIKE '%' || #{content} || '%'
			</otherwise>
		</choose>
		ORDER BY BOARD_NO DESC
	</select>
	
	<insert id="insertNotice">
		INSERT INTO BOARD VALUES(SEQ_BOARD_NO.NEXTVAL, 6, NULL, #{board_title}, #{board_content}, #{member_no}, SYSDATE,SYSDATE,DEFAULT,DEFAULT)
	</insert>
	
	<update id="deleteNotice">
		UPDATE BOARD SET BOARD_STATUS = 1 WHERE BOARD_NO = #{notice_no}
	</update>
	
	<update id="updateNotice">
		UPDATE BOARD SET BOARD_TITLE = #{board_title}, BOARD_CONTENT = #{board_content} WHERE BOARD_NO = #{board_no}
	</update>
	
	<insert id="insertComment">
		INSERT INTO COMMENTS VALUES(SEQ_COMMENTS_NO.NEXTVAL, #{comments_content}, #{board_no}, #{member_no}, SYSDATE, 0)
	</insert>
	
	<update id="deleteComment">
		UPDATE COMMENTS SET COMMENTS_STATUS = 1 WHERE COMMENTS_NO = #{comment_no}
	</update>
	
	<select id="checkBookmark" resultType = "_int">
		SELECT COUNT(*) FROM MARKING WHERE BOARD_NO = #{board_no} AND MEMBER_NO = #{member_no} AND MARKING_TYPE = 1
	</select>
	
	<insert id="insertBookmark">
		INSERT INTO MARKING VALUES (SEQ_MARKING_NO.NEXTVAL, 1, SYSDATE, #{board_no}, #{member_no})
	</insert>
	
	<delete id="deleteBookmark">
		DELETE FROM MARKING WHERE BOARD_NO = #{board_no} AND MEMBER_NO = #{member_no} AND MARKING_TYPE = 1
	</delete>
	
	<select id="checkHeart" resultType = "_int">
		SELECT COUNT(*) FROM MARKING WHERE BOARD_NO = #{board_no} AND MEMBER_NO = #{member_no} AND MARKING_TYPE = 2
	</select>
	
	<insert id="insertHeart">
		INSERT INTO MARKING VALUES (SEQ_MARKING_NO.NEXTVAL, 2, SYSDATE, #{board_no}, #{member_no})
	</insert>
	
	<delete id="deleteHeart">
		DELETE FROM MARKING WHERE BOARD_NO = #{board_no} AND MEMBER_NO = #{member_no} AND MARKING_TYPE = 2
	</delete>
	
	<select id="selectNextNo" resultType="_int">
		select MIN(board_no) from board  where <![CDATA[board_no > #{notice_no}]]> and board_type = 6 and board_status = 0
	</select>
	
	<select id="selectBeforeNo" resultType="_int">
		select MAX(board_no) from board where <![CDATA[board_no < #{notice_no}]]> and board_type = 6 and board_status = 0
	</select>
	
	<insert id="insertPointRecord">
		INSERT INTO POINT_RECORD VALUES(SEQ_POINT_RECORD_NO.NEXTVAL, #{member_no}, SYSDATE, #{before_point}, #{after_point}, 2)
	</insert>
	
	<update id="updatePoint">
		UPDATE POINT SET POINT_CHANGE_DATE = SYSDATE, ACCRUE_POINT = #{after_point} WHERE POINT_NO = #{member_no}
	</update>
</mapper> 





























  