<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.baraonda.admin.model.vo.AdminBoard" alias="AdminBoard"/>
	</typeAliases>
	
	<environments default="firstDev">
		<environment id="firstDev">
			<transactionManager type="JDBC" />
			
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:xe"/>
				<property name="username" value="baraonda"/>
				<property name="password" value="baraonda"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="mappers/chat-mapper.xml"/>
	</mappers>


</configuration>