<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  <!--타입앨리어스, mapper등록만 여기서 하고 db설정 관련은 하지 않는다.-->
  		<typeAliases>
  			<typeAlias type="com.kh.baraonda.member.model.vo.Member" alias="Member"/>

  			<typeAlias type="com.kh.baraonda.myPage.model.vo.Point" alias="Point"/>

  			<typeAlias type="com.kh.baraonda.board.model.vo.Board" alias="Board"/>

	  		<typeAlias type="com.kh.baraonda.myPage.model.vo.Files" alias="Files"/>

	  		<typeAlias type="com.kh.baraonda.notice.model.vo.Notice" alias="Notice"/>

	  		<typeAlias type="com.kh.baraonda.main.model.vo.Ranking" alias="Ranking"/>
			
		  	<typeAlias type="com.kh.baraonda.main.model.vo.Fame" alias="Fame"/>
			
		  	<typeAlias type="com.kh.baraonda.tips.model.vo.Tips" alias="Tips"/>
        
		  	<typeAlias type="com.kh.baraonda.dietSupport.model.vo.HealthCenter" alias="HealthCenter"/>

			<typeAlias type="com.kh.baraonda.myPage.model.vo.Footprints" alias="Footprints"/>
			
			<typeAlias type="com.kh.baraonda.dictionary.model.vo.FoodDictionary" alias="Dictionary"/>
			

  		</typeAliases>
  		
  		<mappers>
			<mapper resource="mappers/member-mapper.xml"/>

			<mapper resource="mappers/main-mapper.xml"/>
	
			<mapper resource="mappers/myPage-mapper.xml"/>

			<mapper resource="mappers/board-mapper.xml"/> 
			
			<mapper resource="mappers/admin-mapper.xml"/>
			
			<mapper resource="mappers/dietSupport-mapper.xml"/>
			
			<mapper resource="mappers/dictionary-mapper.xml"/>

		</mappers>
  		
  </configuration>
  
